@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/en/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/en/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/en/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/en/Roboto-Black.ttf);
  font-weight: 900;
}
